<!doctype html>
<html ng-app="myApp"> 
    
<head>
    <title>Authentication Creative Project</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
        
<body>  
    <div ng-controller="myController">
        <h2 id="welcomeText">Welcome
            <%= username %>!
        </h2>
        <a id="logoutLink" href="/logout">logout</a>
        <a id="editLink" href="/user">Edit User</a>
    </div>
    <!--<span id="indexMsg">
        <%= msg %>
    </span>-->
    <div id="profileInfo">
   	<img src="<%= profile_pic %>" />
        <div class="label">Biography</div>
        <div class="biography"><%= bio %></div>
      </div>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
</body>
      
</html>
