<!doctype html>
<html>
    
<head>
    <title>Authentication Creative Project</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
        
<body>  
    <div class="form-container">
        <p class="form-header">Login</p>
        <form method="POST" action="/login">
            <input type="text" id="username" name="username" placeholder="Username"><br>
            <input type="password" id="password" name="password" placeholder="Password"><br>
            <input type="submit" id="login" value="Login">
        </form>
    </div>
    <a id="signUpLink" href="/signup">Sign Up</a>
    <hr>
    <span id="loginMsg">
    <%= msg %>
    </span>
</body>
        
</html>
